APP_NAME="SIGET K2 QA Codespaces"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_TIMEZONE=America/Mexico_City

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=siget_qa
DB_USERNAME=siget
DB_PASSWORD=siget_codespace_qa

SESSION_DRIVER=database
SESSION_LIFETIME=1440
SESSION_EXPIRE_ON_CLOSE=false
SESSION_SECURE_COOKIE=true
CACHE_STORE=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=local
SIGET_REPOSITORY_DISK=local
SIGET_ANTIVIRUS_ENABLED=false

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="siget-qa@localhost"
MAIL_FROM_NAME="SIGET K2 QA"
SIGET_ACCOUNTING_RECIPIENTS=contabilidad@siget.local

SIGET_ADMIN_EMAIL=admin@siget.local
SIGET_QA_PASSWORD=SigetQA_2026_Cambiar!
SIGET_METRICS_TOKEN=codespaces_metrics_qa

# Identidad institucional K2
SIGET_NAME="SIGET"
SIGET_SUBTITLE="Sistema de Gestión de Evidencias de Transmisión"
SIGET_ENVIRONMENT_LABEL="QA CODESPACES"
SIGET_INSTITUTION_NAME="Sistema Público de Radiodifusión del Estado Mexicano"
SIGET_SUPPORT_EMAIL="soporte.siget@institucion.local"
SIGET_DEFAULT_THEME=auto
